/*Mobile Displays*/
@media only screen and (max-width: 768px) {
	nav img {
		margin-left: 10px;
	}

	#hero {
		height: 350px;
	}

	#hero h2 {
		font-size: 2em;
	}

	#hero img {
		top: 43px;
		left: 0px;
		width: 280px;
		height: 400px;
	}

	#hero h3 {
		margin-top: 360px;
		font-size: 14px;
	}

	#aboutUs{
        background-image: url('../assets/about-mobile.png');
        height: 250px;
		width: 100% !important;
        background-position: center center;
        background-size: cover;
         /*padding-top: 150px;*/
	}

	#aboutUs .aboutUs-inner {
		display: flex;
		padding-top: 10px;
		/*justify-content: center;*/
	}

	#aboutUs .aboutUs-content {
		width: 100%;
		position: relative;
		display: flex;
		margin-left: 0;
		flex-direction: column;
	}

	#aboutUs h1 {
		font-size: 1.5em;
		position: absolute;
		top: 65px;
		left: 150px;
		padding: 0 !important;
		margin: 0 !important;
		color: #005A9E;
	}	

	#aboutUs p {
		font-size: 0.9em;
	}

	#aboutUs #au-para1 {
		display: none;
	}

	#aboutUs #au-para2 {
		display: none;
	}

	#mobile-aboutUs {
		display: flex;
	}

	#mobile-aboutUs .aboutUs-content {
		width: 100%;
		display: flex;
		margin-left: 0;
		flex-direction: column;
	}

	#mobile-aboutUs h1 {
		display: none;
	}

	#mobile-aboutUs #au-para1 {
		padding-top:20px;
	}

	#mobile-aboutUs #au-para2 {

	}

	#channel {
		height: 1050px;
	}

	#channel h1 {
		font-size: 1.2em;
	}

	#channel h2 {
		font-size: 1.2em;
	}

	#channel #channelHeader img {
		margin-left: 100px;
	}

	#channel .row img {
		margin-left: 0px;
		width: 60px;
	}

	#best-channels {
		height: 1450px;
	}

	#best-channels h1,h2 {
		font-size: 1.2em;
	}

	#best-channels #best-channelsHeader img {
		margin-left: 10px;
		padding-right: 0px;
		width: 250px;
	}

	#best-channels #row1 img {
		width: 170px;
		height: 120px;
		border: none;
		border-right: none;
	}

	#best-channels #row1 img:nth-child(1) {
		border: none;
		border-right: none;
	}

	#best-channels #row2 img {
		width: 170px;
		height: 120px;
		border: none;
		border-right: none;
	}

	#best-channels #row2 img:nth-child(1) {
		border: none;
		border-right: none;
	}

	#best-channels p {
		padding: 0;
	}

	#contactUs #talkUs {
		flex-direction: column;
	}

	#contactUs #right-col {
		padding-left: 0px;
		padding-top: 145px;
	}

	#contactUs #right-col-2 {
		padding-bottom: 60px;
		margin-top:30px;
	}

	#contactUs #left-col-2 {
		display: none;
	}

	#contactUs #left-col-2 img.bth-logo {
		margin-top: 30px;
		height: 65px;
	}

	#mobile-contactUs {
		position: fixed;
  		left: 0;
  		bottom: 0;
  		width: 100%;
  		/*padding: 10px 10%;*/
		background-color: #d9d9d9;
	}

	#mobile-contactUs .row {
		display: flex;
		justify-content: center;
		/*background-color: red;*/
		padding: 5px 0;
	}

	#mobile-contactUs a {
		padding-right: 30px;
	}

	#mobile-contactUs img {
		width: 30px;
		height: 30px;
	}
}