@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');



* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.navbar {
	/*height: 150px;*/
}

.nav-link {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0.02em;
	color: #000000;
}

.navbar li:nth-child(4) {
	color: white;
}

#hero {
	/*margin-top: 200px;*/
	height: 850px;
	position: relative;
	top: 200px;
	z-index: 10;
}

#hero h1 {
	position: absolute;
	left: 124px;
	font-family: Roboto;
	font-weight: 100;
	font-size: 30px;
	line-height: 35px;
	color: #005A9E;
}

#hero h2 {
	position: absolute;
	left: 124px;
	top:36px;
	font-size: 60px;
}

#hero h3 {
	position: absolute;
	left: 124px;
	top: 540px;
	font-size: 23px;
}

#hero img {
	position: absolute;
	top: 40px;
	left: 500px;
	width:800px; 
	height:975px;
}

/********************************About Us*****************************************/
#aboutUs {
	position: relative;
	z-index:-1;
	height: 504px;
	background-color: #D9D9D9;
}

#aboutUs h1 {
	/*position: absolute;*/
	/*top: 20px;*/
	/*margin-top: 120px;*/
	font-size: 50px;
	font-weight: 200;
	padding-top: 150px;
	color: #005A9E;
}

#aboutUs p {
	font-size: 20px;
}

#aboutUs #au-para1 {
	padding-top: 20px;
}

#channel {
	position: relative;
	background-color: #FFFFFF;
	height: 840px;
}

#channel h1 {
	color: #005A9E;
}

#channel .row {
	margin-top: 20px;
}

#channel .row img {
	/*display: block;*/
	margin-left: 0px;
}

#channel .row img:hover {
	cursor: pointer;
	transform: scale(1.2);
}

#channel .row img:nth-child(1) {
	padding-left: 5px;
	margin-left: 10px;
}

#channel .row img:nth-child(10) {
	margin-left: 0px;
	padding-right: 0px;
}

#channel #row2 {
	margin-top: 20px;
}

/*******************************best-channels***********************************/
#best-channels {
	position: relative;
	background-color: #E5E5E5;
	height: 700px;
}

#best-channels .container {
	position: absolute;
	left: 150px;
	padding-top: 50px;
	padding-bottom: 50px;
}

#best-channels .container #row1 {
	margin-top: 100px;
}

#best-channels #row1 img:nth-child(1) {
	padding-right: 50px;
	padding-left: 40px;
	border: none;
	border-right: 1px solid #939191;
}

#best-channels #row1 img:nth-child(5) {
	border: none;
	padding-right: 10px;
}

#best-channels #row1 img {
	padding-right: 30px;
	padding-left: 30px;
	border: none;
	border-right: 1px solid #939191;
}

#best-channels #row2 img:nth-child(1) {
	padding-right: 12px;
	padding-left: 10px;
	border: none;
	border-right: 1px solid #939191;
}

#best-channels #row2 img:nth-child(2) {
	padding-right: 18px;
}

#best-channels #row2 img:nth-child(3) {
	padding-left: 16px;
	padding-right: 16px;
}

#best-channels #row2 img:nth-child(4) {
	padding-right: 10px;
	padding-left: 10px;
}
#best-channels #row2 img:nth-child(5) {
	border: none;
	/*padding-right: 10px;*/
}

#best-channels #row2 img {
	padding-right: 30px;
	padding-left: 30px;
	border: none;
	border-right: 1px solid #939191;
}

#best-channels #hRule {
	border:1px solid #939191;
}

#best-channels p {
	padding: 0px 100px;

}

/*******************************contactUs***************************************/
#contactUs {
	position: relative;
	height: 700px;
	padding-top: 70px;
	background-color: #FFFFFF;
}

#contactUs #left-col {
	border: none;
	border-right: 2px solid #939191;
	height: 200px;
	/*margin-top: 20px;*/
}

#contactUs #left-col h1 {
	color: #0F5394;
}

#contactUs #left-col h2 {
	font-size: 16px;
	font-weight: 700;
	color: #37424F;
}

#contactUs #left-col h2#canada {
	margin-top: 30px;
}

#contactUs #left-col p {
	font-size: 16px;
	font-weight: 400;
}

#contactUs #right-col {
	padding-left: 40px;
}

#contactUs #left-col-2 img.bth-logo {
	margin-top: 100px;
	height: 200px;
}

#contactUs #right-col-2 {
	margin-top: 100px;
}

#contactUs #right-col-2 h1{
	color: #0F5394;
}

#contactUs #social-icons {
	padding-left: 20px;
	padding-top: 100px;
	margin-bottom: 100px;
}

#contactUs #social-icons img {
	padding-right: 10px;
	-webkit-transition: 0.6s ease-out;
    -moz-transition:  0.6s ease-out;
    transition:  0.6s ease-out;

}

#contactUs #social-icons img:hover {
	cursor: pointer;
	-webkit-transform: rotateZ(720deg);
    -moz-transform: rotateZ(720deg);
    transform: rotateZ(720deg);
}


#contactUs .form-group:nth-child(3) {
	margin-bottom: 0.5rem !important;
}

#contactUs .form-group {
	margin-bottom: 0rem !important;
}
