@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/*html {
	scroll-behavior: smooth;
}*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav img {
	margin-left: 100px;
}

.nav-link {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0.02em;
	color: #000000;
}

.dropdown-item {
	color: black;
}

a.dropdown-item.active,
a.dropdown-item:active {
	background-color: #00ACEE;	
}

.navbar li:nth-child(4) {
	color: white;
}

#hero {
	display: flex;
	padding-top: 120px;
	height: 620px;
}

#hero #left-content {
	position: absolute;
}

#hero #right-img {
	display: flex;
}

#hero h2 {
	padding-top: 20px;
	font-size: 3em;
}

#hero h3 {
	margin-top: 550px;
	font-size: 23px;
}

#hero img {
	position: absolute;
	top: 85px;
	left: 300px;
	width:800px; 
	height:620px;
}

/********************************About Us*****************************************/
#aboutUs {
	display: flex;
	height: 100vh;
	margin-top: 165px;
	background-color: #D9D9D9;
}

@media (min-width: 1000px) {    
	#aboutUs{
         background-image: url('../assets/about.png');
         width: 100%;
         background-position: center center;
         background-size: cover;
         /*padding-top: 150px;*/
	}
}

#aboutUs .aboutUs-inner {
	display: flex;
	padding-top: 100px;
	justify-content: center;
}

#aboutUs .aboutUs-content {
	width: 100%;
	margin-left: 15%;
	display: flex;
	flex-direction: column;
}

#aboutUs h1 {
	font-size: 3em;
	padding-top: 30px;
	color: #005A9E;
}

#aboutUs p {
	font-size: 1.2em;
}

#aboutUs #au-para1 {
	padding:10px 100px 0;
}

#aboutUs #au-para2 {
	padding: 0px 160px;
}

#mobile-aboutUs {
	display: none;
}

 /*Large devices (desktops, 992px and up)*/
}
@media (min-width: 992px) { 
	.aboutUs-content {
		padding-top: 0px;
	}
}

 /*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
	.aboutUs-content {
		padding-top: 0px;
		padding-left: 60px;
		padding-right: 60px;
	}

}

@media (min-width: 1400px) {
	.aboutUs-content {
		padding-top: 70px;
		padding-left: 100px;
		padding-right: 100px;
	}
}


/***************************channel******************************/
#channel {
	background-color: #FFFFFF;
	height: 950px;
	padding-top: 95px;
	padding-bottom: 60px;
}

#channel #channelHeader {
	display: flex;
	flex:1;
	justify-content: center;
	flex-wrap: wrap;
	padding-bottom: 30px;
}

#channel #channelHeader img {
	margin-right: 120px;
}

#channel #channelHeader2 {
	display: flex;
	flex-direction: column;
}

#channel h1 {
	color: #005A9E;
}

#channel .row {
	display: flex;
	margin-top: 20px;
}

#channel .row img {
	/*display: block;*/
	margin-left: 0px;
}

#channel .row img:hover {
	cursor: pointer;
	transform: scale(1.2);
}

#channel .row img:nth-child(1) {
	padding-left: 5px;
	margin-left: 10px;
}

#channel .row img:nth-child(10) {
	margin-left: 0px;
	padding-right: 0px;
}

#channel #row2 {
	margin-top: 20px;
}

/*******************************best-channels***********************************/
#best-channels {
	background-color: #E5E5E5;
	height: 900px;
	display: flex;
	padding-top: 90px;
	flex-direction: column;
}

#best-channels .container {
	padding-top: 50px;
	padding-bottom: 50px;
}


#best-channels #best-channelsHeader {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#best-channels #best-channelsHeader img {
	padding-right: 120px;
}

#best-channels #best-channelsHeader2 {
	display: flex;
	flex-direction: column;
}

#best-channels .container .row {
	display: flex;
	flex-wrap: wrap;
}

#best-channels #row1 img:nth-child(1) {
	padding-right: 50px;
	padding-left: 40px;
	border: none;
	border-right: 1px solid #939191;
}

#best-channels #row1 img:nth-child(5) {
	border: none;
	padding-right: 10px;
}

#best-channels #row1 img {
	padding-right: 30px;
	padding-left: 30px;
	border: none;
	border-right: 1px solid #939191;
}

#best-channels #row2 img:nth-child(1) {
	padding-right: 12px;
	padding-left: 10px;
	border: none;
	border-right: 1px solid #939191;
}

#best-channels #row2 img:nth-child(2) {
	padding-right: 18px;
}

#best-channels #row2 img:nth-child(3) {
	padding-left: 16px;
	padding-right: 16px;
}

#best-channels #row2 img:nth-child(4) {
	padding-right: 10px;
	padding-left: 10px;
}
#best-channels #row2 img:nth-child(5) {
	border: none;
	/*padding-right: 10px;*/
}

#best-channels #row2 img {
	padding-right: 30px;
	padding-left: 30px;
	border: none;
	border-right: 1px solid #939191;
}

#best-channels #hRule {
	border:1px solid #939191;
}

#best-channels p {
	padding: 0px 100px;
}

/*******************************contactUs***************************************/
#contactUs {
	display: flex;
	height: 700px;
	padding-top: 100px;
	background-color: #FFFFFF;
}

#contactUs #talkUs {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#contactUs #left-col {
	border: none;
	border-right: 2px solid #939191;
	height: 200px;
	/*margin-top: 20px;*/
}

#contactUs #left-col h1 {
	color: #0F5394;
}

#contactUs #left-col h2 {
	font-size: 16px;
	font-weight: 700;
	color: #37424F;
}

#contactUs #left-col h2#canada {
	margin-top: 30px;
}

#contactUs #left-col p {
	font-size: 16px;
	font-weight: 400;
}

#contactUs #right-col {
	padding-left: 40px;
}

#contactUs #left-col-2 img.bth-logo {
	margin-top: 230px;
	height: 175px;
}

#contactUs #right-col-2 {
	margin-top: 100px;
}

#contactUs #right-col-2 h1{
	color: #0F5394;
}

#contactUs #social-icons {
	padding-left: 20px;
	padding-top: 10px;
	margin-bottom: 100px;
}

#contactUs #social-icons img {
	height: 24px;
	padding-right: 10px;
	-webkit-transition: 0.6s ease-out;
    -moz-transition:  0.6s ease-out;
    transition:  0.6s ease-out;

}

#contactUs #social-icons img:hover {
	cursor: pointer;
	-webkit-transform: rotateZ(720deg);
    -moz-transform: rotateZ(720deg);
    transform: rotateZ(720deg);
}


#contactUs .form-group:nth-child(3) {
	margin-bottom: 0.5rem !important;
}

#contactUs .form-group {
	margin-bottom: 0rem !important;
}

@media only screen and (min-width: 768px ) {
	#mobile-contactUs {
		display: none;
	}
}